<head>
    <meta charset="utf-8">
    <title> Viết Blog </title>
    <link href="write-blog.component.css" rel="stylesheet">
</head>

<body style="overflow-y: overlay; overflow-x: unset;">
    <div id="root">
        <div class="NavBar_wrapper__4m3K5" id="header">
            <div class="NavBar_logo__Rgo-5">
              <a href="/home-page-st"><img
                  src="https://my-web-study-onl-project.s3.ap-southeast-1.amazonaws.com/Logo/Logo_F4.png" alt="F8"></a>
              <h4 class="NavBar_logoHeading__bs7MP">Học Lập Trình Để Đi Làm</h4>
            </div>
            <!-- </div> -->
            <div class="Navbar-Trangchu-Search-margin d-flex-center">
              <div>
                <div class="Search_wrapper__Bwvae d-flex-center" aria-expanded="false">
                  <div class="Search_searchIcon__-23JY">
                  </div>
                  <input class="Search_input__GnMba" spellcheck="false" placeholder="Tìm kiếm khóa học, bài viết, video, ..."
                    value="">
                </div>
              </div>
            </div>
            <div class="NavBar_actions__nSNzo">
              <div id="navbar-actions-portal">
              </div>
      
              <div>
                <div (click)="openNavNotification()" class="NavBar_actionBtn__tzSZd" id="notification-button"
                   ><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bell"
                    class="svg-inline--fa fa-bell NavBar_action-icon__l9MxX" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path fill="currentColor"
                      d="M256 32V51.2C329 66.03 384 130.6 384 208V226.8C384 273.9 401.3 319.2 432.5 354.4L439.9 362.7C448.3 372.2 450.4 385.6 445.2 397.1C440 408.6 428.6 416 416 416H32C19.4 416 7.971 408.6 2.809 397.1C-2.353 385.6-.2883 372.2 8.084 362.7L15.5 354.4C46.74 319.2 64 273.9 64 226.8V208C64 130.6 118.1 66.03 192 51.2V32C192 14.33 206.3 0 224 0C241.7 0 256 14.33 256 32H256zM224 512C207 512 190.7 505.3 178.7 493.3C166.7 481.3 160 464.1 160 448H288C288 464.1 281.3 481.3 269.3 493.3C257.3 505.3 240.1 512 224 512z">
                    </path>
                  </svg></div>
                  <!-- aria-expanded="false" -->
                <div *ngIf="isDropDownOpenNotification"
                  style="z-index: 9999; position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(-68.8px, 60.8px);">
                  <ul class="Tippy-module_wrapper__1s5m5 Notification_container__ulN0K">
                    <header>
                      <h6>Thông báo</h6>
                    </header>
                    <div class="Notification_content__0k-Tt hide-on-click">
                      <p class="Notification_noResult__TJd2-">Chưa có thông báo nào</p>
                    </div>
                  </ul>
                </div>
              </div>
              <div class="NavBar_avatar-wrapper__j7jMj" aria-expanded="false">
                <div (click)="openNavProfile()" class="FallbackAvatar_avatar__gmj3S" style="--font-size:3.2px;"><img
                    class="NavBar_avatar__OG7ib"
                    src="https://files.fullstack.edu.vn/f8-prod/user_photos/293030/63e71768e42bd.jpg" alt="Khánh Băng"></div>
              </div>
              <div *ngIf="isDropDownOpen" 
                style="z-index: 9999; position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(-27.2px, 57.6px);">
                <ul class="Tippy-module_wrapper__1s5m5 UserMenu_wrapper__kevhj hide-on-click">
                  <div class="UserMenu_user__GXFLp">
                    <div class="UserMenu_avatarWrapper__9ABYL">
                      <div class="FallbackAvatar_avatar__gmj3S" style="--font-size:5.6px;"><img
                          src="https://files.fullstack.edu.vn/f8-prod/user_photos/289130/63da5c8beb71a.jpg"
                          alt="{{TenEmail}}"></div>
                    </div>
                    <div class="UserMenu_info__UqeZT"><span class="UserMenu_name__L18s-">{{ TenEmail }}</span>
                      <div class="UserMenu_username__7qkRU">{{ Email }}</div>
                    </div>
                  </div>
                  <hr>
                  <ul class="UserMenu_list__FI9-C">
                    <li><a class="UserMenu_item__NXwf1" routerLink="/profile" routerLinkActive="active">Trang cá nhân</a><router-outlet></router-outlet></li>
                  </ul>
                  <hr>
                  <ul class="UserMenu_list__FI9-C">
                    <li><a class="UserMenu_item__NXwf1" routerLink="/write-blog" routerLinkActive="active">Viết blog</a><router-outlet></router-outlet></li>
                    <li><a class="UserMenu_item__NXwf1" routerLink="/posts-drafts" routerLinkActive="active">Bài viết của tôi</a><router-outlet></router-outlet></li>
                  </ul>
                  <hr>
                  <ul class="UserMenu_list__FI9-C">
                    <li><a class="UserMenu_item__NXwf1" routerLink="/posts-public" routerLinkActive="active">Bài viết đã lưu</a><router-outlet></router-outlet></li>
                  </ul>
                  <hr>
                  <ul class="UserMenu_list__FI9-C">
                    <li><a class="UserMenu_item__NXwf1" href="/settings/personal">Cài đặt</a></li>
                    <li><a class="UserMenu_item__NXwf1" routerLink="/login-form" routerLinkActive="active" >Đăng xuất</a><router-outlet></router-outlet></li>
                  </ul>
                </ul>
              </div>
            </div>
          </div>

        <section class="index-module_row__-AHgh">
            <section
                class="index-module_col__2EQm9 index-module_c-12__u7UXF index-module_m-12__2CxUL index-module_l-12__340Ve">
                <div class="NewPost_wrapper__QUJ12">
                    <div spellcheck="false" data-empty-text="Tiêu đề" contenteditable="true"
                        class="ContentEditable_wrapper__YxeRy NewPost_title-input__d-X6s"></div>
                    <div class="NewPost_text-editor__79Xuj NewPost_disableIcon__wRdBV">
                        <div class="rc-md-editor  " style="margin-bottom: 31px; height: calc(100vh - 100px);">
                            <div class="rc-md-navigation visible">
                                <div class="navigation-nav left">
                                    <div class="button-wrap">
                                        <span class="button button-type-header" title="Header">
                                            <i class="rmel-iconfont rmel-icon-font-size"></i>
                                            <div class="drop-wrap hidden">
                                                <ul class="header-list">
                                                    <li class="list-item">
                                                        <h1>H1</h1>
                                                    </li>
                                                    <li class="list-item">
                                                        <h2>H2</h2>
                                                    </li>
                                                    <li class="list-item">
                                                        <h3>H3</h3>
                                                    </li>
                                                    <li class="list-item">
                                                        <h4>H4</h4>
                                                    </li>
                                                    <li class="list-item">
                                                        <h5>H5</h5>
                                                    </li>
                                                    <li class="list-item">
                                                        <h6>H6</h6>
                                                    </li>
                                                </ul>
                                            </div>
                                        </span>
                                        <span class="button button-type-bold" title="Bold">
                                            <i class="rmel-iconfont rmel-icon-bold"></i>
                                        </span>
                                        <span class="button button-type-italic" title="Italic">
                                            <i class="rmel-iconfont rmel-icon-italic"></i>
                                        </span>
                                        <span class="button button-type-underline" title="Underline">
                                            <i class="rmel-iconfont rmel-icon-underline"></i>
                                        </span>
                                        <span class="button button-type-strikethrough" title="Strikethrough">
                                            <i class="rmel-iconfont rmel-icon-strikethrough"></i>
                                        </span>
                                        <span class="button button-type-unordered" title="Unordered list">
                                            <i class="rmel-iconfont rmel-icon-list-unordered"></i>
                                        </span>
                                        <span class="button button-type-ordered" title="Ordered list">
                                            <i class="rmel-iconfont rmel-icon-list-ordered"></i>
                                        </span>
                                        <span class="button button-type-quote" title="Quote">
                                            <i class="rmel-iconfont rmel-icon-quote"></i>
                                        </span>
                                        <span class="button button-type-wrap" title="Line break">
                                            <i class="rmel-iconfont rmel-icon-wrap"></i>
                                        </span>
                                        <span class="button button-type-code-inline" title="Inline code">
                                            <i class="rmel-iconfont rmel-icon-code"></i>
                                        </span>
                                        <span class="button button-type-code-block" title="Code">
                                            <i class="rmel-iconfont rmel-icon-code-block"></i>
                                        </span>
                                        <span class="button button-type-table" title="Table">
                                            <i class="rmel-iconfont rmel-icon-grid"></i>
                                            <div class="drop-wrap hidden">
                                                <ul class="table-list wrap" style="width: 135px; height: 89px;">
                                                    <li class="list-item " style="top: 0px; left: 0px;"></li>
                                                    <li class="list-item " style="top: 0px; left: 23px;"></li>
                                                    <li class="list-item " style="top: 0px; left: 46px;"></li>
                                                    <li class="list-item " style="top: 0px; left: 69px;"></li>
                                                    <li class="list-item " style="top: 0px; left: 92px;"></li>
                                                    <li class="list-item " style="top: 0px; left: 115px;"></li>
                                                    <li class="list-item " style="top: 23px; left: 0px;"></li>
                                                    <li class="list-item " style="top: 23px; left: 23px;"></li>
                                                    <li class="list-item " style="top: 23px; left: 46px;"></li>
                                                    <li class="list-item " style="top: 23px; left: 69px;"></li>
                                                    <li class="list-item " style="top: 23px; left: 92px;"></li>
                                                    <li class="list-item " style="top: 23px; left: 115px;"></li>
                                                    <li class="list-item " style="top: 46px; left: 0px;"></li>
                                                    <li class="list-item " style="top: 46px; left: 23px;"></li>
                                                    <li class="list-item " style="top: 46px; left: 46px;"></li>
                                                    <li class="list-item " style="top: 46px; left: 69px;"></li>
                                                    <li class="list-item " style="top: 46px; left: 92px;"></li>
                                                    <li class="list-item " style="top: 46px; left: 115px;"></li>
                                                    <li class="list-item " style="top: 69px; left: 0px;"></li>
                                                    <li class="list-item " style="top: 69px; left: 23px;"></li>
                                                    <li class="list-item " style="top: 69px; left: 46px;"></li>
                                                    <li class="list-item " style="top: 69px; left: 69px;"></li>
                                                    <li class="list-item " style="top: 69px; left: 92px;"></li>
                                                    <li class="list-item " style="top: 69px; left: 115px;"></li>
                                                </ul>
                                            </div>
                                        </span>
                                        <span class="button button-type-image" title="Image">
                                            <i class="rmel-iconfont rmel-icon-image"></i>
                                        </span>
                                        <span class="button button-type-link" title="Link">
                                            <i class="rmel-iconfont rmel-icon-link"></i>
                                        </span>
                                        <span class="button button-type-clear" title="Clear">
                                            <i class="rmel-iconfont rmel-icon-delete"></i>
                                        </span>
                                        <span class="button button-type-undo disabled" title="Undo">
                                            <i class="rmel-iconfont rmel-icon-undo"></i>
                                        </span>
                                        <span class="button button-type-redo disabled" title="Redo">
                                            <i class="rmel-iconfont rmel-icon-redo"></i>
                                        </span>
                                        <span class="button" title=""
                                            style="cursor: default; margin-left: 16px; font-size: 1.3rem; color: rgb(117, 117, 117);"></span>
                                    </div>
                                </div>
                                <div class="navigation-nav right">
                                    <div class="button-wrap">
                                        <span class="button button-type-mode" title="Only display editor">
                                            <i class="rmel-iconfont rmel-icon-keyboard"></i>
                                        </span>
                                        <span class="button button-type-fullscreen" title="Full screen">
                                            <i class="rmel-iconfont rmel-icon-fullscreen"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="editor-container">
                                <section class="section sec-md visible">
                                    <textarea [(ngModel)]="Name"  placeholder="Nội dung viết ở đây"
                                        class="section-container input MdTextEditor_editor__7rfC-"
                                        wrap="hard"></textarea>
                                </section>
                                <section class="section sec-html visible">
                                    <div class="section-container html-wrap">
                                        <div class="MarkdownParser_wrapper__JYN63 MdTextEditor_wrapper__l6fFu"></div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>



        <div class="Toastify"></div>
    </div>
</body>