<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link href="blog-detail.component.css" rel="stylesheet">
</head>

<body>
    <div id="root">
        <div>
            <div class="NavBar_wrapper__4m3K5" id="header">
                <div class="NavBar_logo__Rgo-5"><a href="/"><img src="/static/media/f8-icon.18cd71cfcfa33566a22b.png"
                            alt="F8"></a><a href="/" class="NavBar_backHome__U1RTm">
                        <h4 class="NavBar_logoHeading__bs7MP"><svg aria-hidden="true" focusable="false"
                                data-prefix="fas" data-icon="chevron-left" class="svg-inline--fa fa-chevron-left "
                                role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                <path fill="currentColor"
                                    d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z">
                                </path>
                            </svg><span>Quay lại</span></h4>
                    </a></div>
                <div class="NavBar_body__4Yhth d-flex-center">
                    <div>
                        <div class="Search_wrapper__Bwvae d-flex-center" aria-expanded="false">
                            <div class="Search_searchIcon__-23JY"></div><input class="Search_input__GnMba"
                                spellcheck="false" placeholder="Tìm kiếm khóa học, bài viết, video, ..." value="">
                        </div>
                    </div>
                </div>
                <div class="NavBar_actions__nSNzo">
                    <div id="navbar-actions-portal"></div><a href="https://accounts.fullstack.edu.vn/login"
                        class="NavBar_loginBtn__5DxZL">Đăng nhập</a>
                </div>
            </div>
            <div class="App_withSidebar__8lwIi">
                <div class="App_sidebarWrap__3LwsB App_hidden__PlKoC App_tutorial__00HQ2">
                    <div class="Sidebar_wrapper__kUJFm" id="sidebar">
                        <div>
                            <div class="CreateButton_wrapper__Bb6o6" aria-expanded="false"><svg aria-hidden="true"
                                    focusable="false" data-prefix="fas" data-icon="plus"
                                    class="svg-inline--fa fa-plus CreateButton_icon__ipBrz" role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path fill="currentColor"
                                        d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z">
                                    </path>
                                </svg></div>
                        </div>
                        <ul class="Sidebar_list__HnCzM">
                            <li><a class="Sidebar_itemBtn__Q78b7" href="/"><svg aria-hidden="true" focusable="false"
                                        data-prefix="fas" data-icon="house" class="svg-inline--fa fa-house " role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                        <path fill="currentColor"
                                            d="M575.8 255.5C575.8 273.5 560.8 287.6 543.8 287.6H511.8L512.5 447.7C512.5 450.5 512.3 453.1 512 455.8V472C512 494.1 494.1 512 472 512H456C454.9 512 453.8 511.1 452.7 511.9C451.3 511.1 449.9 512 448.5 512H392C369.9 512 352 494.1 352 472V384C352 366.3 337.7 352 320 352H256C238.3 352 224 366.3 224 384V472C224 494.1 206.1 512 184 512H128.1C126.6 512 125.1 511.9 123.6 511.8C122.4 511.9 121.2 512 120 512H104C81.91 512 64 494.1 64 472V360C64 359.1 64.03 358.1 64.09 357.2V287.6H32.05C14.02 287.6 0 273.5 0 255.5C0 246.5 3.004 238.5 10.01 231.5L266.4 8.016C273.4 1.002 281.4 0 288.4 0C295.4 0 303.4 2.004 309.5 7.014L564.8 231.5C572.8 238.5 576.9 246.5 575.8 255.5L575.8 255.5z">
                                        </path>
                                    </svg><span>Home</span></a></li>
                            <li><a class="Sidebar_itemBtn__Q78b7" href="/learning-paths"><svg aria-hidden="true"
                                        focusable="false" data-prefix="fas" data-icon="road"
                                        class="svg-inline--fa fa-road " role="img" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 576 512">
                                        <path fill="currentColor"
                                            d="M256 96C256 113.7 270.3 128 288 128C305.7 128 320 113.7 320 96V32H394.8C421.9 32 446 49.08 455.1 74.63L572.9 407.2C574.9 413 576 419.2 576 425.4C576 455.5 551.5 480 521.4 480H320V416C320 398.3 305.7 384 288 384C270.3 384 256 398.3 256 416V480H54.61C24.45 480 0 455.5 0 425.4C0 419.2 1.06 413 3.133 407.2L120.9 74.63C129.1 49.08 154.1 32 181.2 32H255.1L256 96zM320 224C320 206.3 305.7 192 288 192C270.3 192 256 206.3 256 224V288C256 305.7 270.3 320 288 320C305.7 320 320 305.7 320 288V224z">
                                        </path>
                                    </svg><span>Lộ trình</span></a></li>
                            <li><a class="Sidebar_itemBtn__Q78b7" href="/courses"><svg aria-hidden="true"
                                        focusable="false" data-prefix="fas" data-icon="lightbulb"
                                        class="svg-inline--fa fa-lightbulb " role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                        <path fill="currentColor"
                                            d="M112.1 454.3c0 6.297 1.816 12.44 5.284 17.69l17.14 25.69c5.25 7.875 17.17 14.28 26.64 14.28h61.67c9.438 0 21.36-6.401 26.61-14.28l17.08-25.68c2.938-4.438 5.348-12.37 5.348-17.7L272 415.1h-160L112.1 454.3zM191.4 .0132C89.44 .3257 16 82.97 16 175.1c0 44.38 16.44 84.84 43.56 115.8c16.53 18.84 42.34 58.23 52.22 91.45c.0313 .25 .0938 .5166 .125 .7823h160.2c.0313-.2656 .0938-.5166 .125-.7823c9.875-33.22 35.69-72.61 52.22-91.45C351.6 260.8 368 220.4 368 175.1C368 78.61 288.9-.2837 191.4 .0132zM192 96.01c-44.13 0-80 35.89-80 79.1C112 184.8 104.8 192 96 192S80 184.8 80 176c0-61.76 50.25-111.1 112-111.1c8.844 0 16 7.159 16 16S200.8 96.01 192 96.01z">
                                        </path>
                                    </svg><span>Học</span></a></li>
                            <li><a aria-current="page" class="Sidebar_itemBtn__Q78b7 Sidebar_active__uvck8"
                                    href="/blog"><svg aria-hidden="true" focusable="false" data-prefix="fas"
                                        data-icon="newspaper" class="svg-inline--fa fa-newspaper " role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="currentColor"
                                            d="M480 32H128C110.3 32 96 46.33 96 64v336C96 408.8 88.84 416 80 416S64 408.8 64 400V96H32C14.33 96 0 110.3 0 128v288c0 35.35 28.65 64 64 64h384c35.35 0 64-28.65 64-64V64C512 46.33 497.7 32 480 32zM272 416h-96C167.2 416 160 408.8 160 400C160 391.2 167.2 384 176 384h96c8.836 0 16 7.162 16 16C288 408.8 280.8 416 272 416zM272 320h-96C167.2 320 160 312.8 160 304C160 295.2 167.2 288 176 288h96C280.8 288 288 295.2 288 304C288 312.8 280.8 320 272 320zM432 416h-96c-8.836 0-16-7.164-16-16c0-8.838 7.164-16 16-16h96c8.836 0 16 7.162 16 16C448 408.8 440.8 416 432 416zM432 320h-96C327.2 320 320 312.8 320 304C320 295.2 327.2 288 336 288h96C440.8 288 448 295.2 448 304C448 312.8 440.8 320 432 320zM448 208C448 216.8 440.8 224 432 224h-256C167.2 224 160 216.8 160 208v-96C160 103.2 167.2 96 176 96h256C440.8 96 448 103.2 448 112V208z">
                                        </path>
                                    </svg><span>Blog</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="App_withSidebarContent__o4VlQ App_hidden__PlKoC">
                    <div class="BlogDetail_wrapper__9lHHY">
                        <section class="index-module_grid__1q71E index-module_fullWidth__3X-6x">
                            <section class="index-module_row__-AHgh">
                                <section
                                    class="index-module_col__2EQm9 index-module_c-0__10PYb index-module_m-0__18VBx index-module_l-2__2TSUm index-module_l-o-1__3wI_9">
                                    <div class="BlogDetail_aside__5IVfa"><a href="/@hieucaok">
                                            <h4 class="BlogDetail_userName__XjPY6">Hieu Cao K.</h4>
                                        </a>
                                        <p class="BlogDetail_userTitle__Ylia7"></p>
                                        <hr>
                                        <div class="Reaction_wrapper__Jjsxl">
                                            <div class="Reaction_btnReact__O0zy5" title="Nhấn để thích bài này"><svg
                                                    aria-hidden="true" focusable="false" data-prefix="far"
                                                    data-icon="heart" class="svg-inline--fa fa-heart " role="img"
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path fill="currentColor"
                                                        d="M244 84L255.1 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 0 232.4 0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84C243.1 84 244 84.01 244 84L244 84zM255.1 163.9L210.1 117.1C188.4 96.28 157.6 86.4 127.3 91.44C81.55 99.07 48 138.7 48 185.1V190.9C48 219.1 59.71 246.1 80.34 265.3L256 429.3L431.7 265.3C452.3 246.1 464 219.1 464 190.9V185.1C464 138.7 430.4 99.07 384.7 91.44C354.4 86.4 323.6 96.28 301.9 117.1L255.1 163.9z">
                                                    </path>
                                                </svg><span>0</span></div>
                                            <div class="Reaction_btnReact__O0zy5"><svg aria-hidden="true"
                                                    focusable="false" data-prefix="far" data-icon="comment"
                                                    class="svg-inline--fa fa-comment " role="img"
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path fill="currentColor"
                                                        d="M256 32C114.6 32 .0272 125.1 .0272 240c0 47.63 19.91 91.25 52.91 126.2c-14.88 39.5-45.87 72.88-46.37 73.25c-6.625 7-8.375 17.25-4.625 26C5.818 474.2 14.38 480 24 480c61.5 0 109.1-25.75 139.1-46.25C191.1 442.8 223.3 448 256 448c141.4 0 255.1-93.13 255.1-208S397.4 32 256 32zM256.1 400c-26.75 0-53.12-4.125-78.38-12.12l-22.75-7.125l-19.5 13.75c-14.25 10.12-33.88 21.38-57.5 29c7.375-12.12 14.37-25.75 19.88-40.25l10.62-28l-20.62-21.87C69.82 314.1 48.07 282.2 48.07 240c0-88.25 93.25-160 208-160s208 71.75 208 160S370.8 400 256.1 400z">
                                                    </path>
                                                </svg><span>0</span></div>
                                        </div>
                                    </div>
                                </section>
                                <section
                                    class="index-module_col__2EQm9 index-module_c-12__u7UXF index-module_m-12__2CxUL index-module_l-6__JoV9k">
                                    <div>
                                        <h1 class="BlogDetail_heading__DUpyK">{{description}}</h1>
                                        <div class="BlogDetail_header__w09Xd">
                                            <div class="BlogDetail_user__Q6EHE"><a href="/@hieucaok">
                                                    <div class="FallbackAvatar_avatar__gmj3S"
                                                        style="--font-size:5.6px;">
                                                        <img src="/static/media/fallback-avatar.155cdb2376c5d99ea151.jpg"
                                                            alt="Hieu Cao K.">
                                                    </div>
                                                </a>
                                                <div class="BlogDetail_info__3xVU9"><a href="/@hieucaok"><span
                                                            class="BlogDetail_name__FKdW-">Hieu Cao K.</span></a>
                                                    <p class="BlogDetail_time__J0n0e">10 giờ trước <span
                                                            class="BlogDetail_dot__HCutF">·</span> 1 phút đọc</p>
                                                </div>
                                            </div>
                                            <div class="BlogDetail_actions__wYPwr">
                                                <div class="Bookmark_toggleBtn__sSS-2 BlogDetail_optionBtn__k9OVy"><svg
                                                        aria-hidden="true" focusable="false" data-prefix="far"
                                                        data-icon="bookmark" class="svg-inline--fa fa-bookmark "
                                                        role="img" xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 384 512">
                                                        <path fill="currentColor"
                                                            d="M336 0h-288C21.49 0 0 21.49 0 48v431.9c0 24.7 26.79 40.08 48.12 27.64L192 423.6l143.9 83.93C357.2 519.1 384 504.6 384 479.9V48C384 21.49 362.5 0 336 0zM336 452L192 368l-144 84V54C48 50.63 50.63 48 53.1 48h276C333.4 48 336 50.63 336 54V452z">
                                                        </path>
                                                    </svg></div>
                                                <div class="BlogDetail_optionBtn__k9OVy" aria-expanded="false"><svg
                                                        aria-hidden="true" focusable="false" data-prefix="fas"
                                                        data-icon="ellipsis" class="svg-inline--fa fa-ellipsis "
                                                        role="img" xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 448 512">
                                                        <path fill="currentColor"
                                                            d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z">
                                                        </path>
                                                    </svg></div>
                                            </div>
                                        </div>
                                        <div class="RelatedPosts_relatedItem__Apw+s">
                                            <img class="RelatedPosts_photo__Lafnu" >
                                        </div>
                                        <div class="MarkdownParser_wrapper__JYN63 BlogDetail_markdownParser__QFL3L"
                                            style="--font-size:1.8rem; --line-height:2;">
                                            {{Content}}
                                            
                                        </div>
                                        <div class="BlogDetail_bodyBottom__BuJE1">
                                            <div class="Reaction_wrapper__Jjsxl">
                                                <div class="Reaction_btnReact__O0zy5" title="Nhấn để thích bài này"><svg
                                                        aria-hidden="true" focusable="false" data-prefix="far"
                                                        data-icon="heart" class="svg-inline--fa fa-heart " role="img"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                        <path fill="currentColor"
                                                            d="M244 84L255.1 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 0 232.4 0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84C243.1 84 244 84.01 244 84L244 84zM255.1 163.9L210.1 117.1C188.4 96.28 157.6 86.4 127.3 91.44C81.55 99.07 48 138.7 48 185.1V190.9C48 219.1 59.71 246.1 80.34 265.3L256 429.3L431.7 265.3C452.3 246.1 464 219.1 464 190.9V185.1C464 138.7 430.4 99.07 384.7 91.44C354.4 86.4 323.6 96.28 301.9 117.1L255.1 163.9z">
                                                        </path>
                                                    </svg><span>0</span></div>
                                                <div class="Reaction_btnReact__O0zy5"><svg aria-hidden="true"
                                                        focusable="false" data-prefix="far" data-icon="comment"
                                                        class="svg-inline--fa fa-comment " role="img"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                        <path fill="currentColor"
                                                            d="M256 32C114.6 32 .0272 125.1 .0272 240c0 47.63 19.91 91.25 52.91 126.2c-14.88 39.5-45.87 72.88-46.37 73.25c-6.625 7-8.375 17.25-4.625 26C5.818 474.2 14.38 480 24 480c61.5 0 109.1-25.75 139.1-46.25C191.1 442.8 223.3 448 256 448c141.4 0 255.1-93.13 255.1-208S397.4 32 256 32zM256.1 400c-26.75 0-53.12-4.125-78.38-12.12l-22.75-7.125l-19.5 13.75c-14.25 10.12-33.88 21.38-57.5 29c7.375-12.12 14.37-25.75 19.88-40.25l10.62-28l-20.62-21.87C69.82 314.1 48.07 282.2 48.07 240c0-88.25 93.25-160 208-160s208 71.75 208 160S370.8 400 256.1 400z">
                                                        </path>
                                                    </svg><span>0</span></div>
                                            </div>
                                            <div class="PostsWithSameAuthor_wrapper__ZTsxW">
                                                <h3 class="PostsWithSameAuthor_heading__7+PGO">Bài đăng cùng tác giả
                                                </h3>
                                                <p class="PostsWithSameAuthor_noResult__rRwb0">Tác giả chưa có bài đăng
                                                    nào
                                                    khác.</p>
                                            </div>
                                            <div class="RelatedPosts_relatedItem__Apw+s">
                                                <div class="RelatedPosts_published__bMfDb">Đăng bởi <a
                                                        href="/@vo-minh-kha"><strong
                                                            class="RelatedPosts_fullName__EGXHU">Võ
                                                            Minh
                                                            Kha</strong></a><span
                                                        class="RelatedPosts_dot__h9Wnf">·</span><span
                                                        class="RelatedPosts_createdAt__EC4N9">2 năm trước</span></div><a
                                                    href="/blog/cach-dua-code-len-github-va-tao-github-pages.html">
                                                    <h3 class="RelatedPosts_relatedTitle__UTZ3e">Cách đưa code lên
                                                        GitHub và tạo GitHub Pages</h3>
                                                </a>
                                                <div class="RelatedPosts_relatedDesc__2y3Bq"></div><a
                                                    href="/blog/cach-dua-code-len-github-va-tao-github-pages.html"><img
                                                        class="RelatedPosts_photo__Lafnu"
                                                        src="https://files.fullstack.edu.vn/f8-prod/blog_posts/677/615436b218d0a.png"
                                                        alt="Cách đưa code lên GitHub và tạo GitHub Pages"></a>
                                                <div class="MarkdownParser_wrapper__JYN63 RelatedPosts_content__vlhzA"
                                                    style="--font-size:1.8rem; --line-height:2;">
                                                    <p><img alt="github.png"
                                                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/677/615424715714d.png">
                                                    </p>
                                                    <p>Xin các bạn tại F8, khi mình đọc những bài viết trên nhóm F8 thì
                                                        mình thấy có nhiều bạn vẫn không biết đưa code lên GitHub, hoặc
                                                        bị lỗi, hoặc có thể là những bạn mới và đặc biệt là các bạn
                                                        không biết tạo GitHub Pages ( cụ thể là hiển thị ra trang web để
                                                        cho mọi người xem á! ). Ok, hôm nay mình sẽ hướng dẫn cụ thể để
                                                        cho những bạn không biết bấy lâu nay có thể đưa code mình lên
                                                        GitHub được nhe. Mình là Kha, là một thành viên trong nhóm
                                                        "<em>Học lập trình web (F8 - <a href="http://fullstack.edu.vn/"
                                                                target="_blank"
                                                                rel="noreferrer">Fullstack.edu.vn</a>)</em>".</p>
                                                    <p><strong>Bước 1: Tạo tài khoản GitHub và download Git</strong></p>
                                                    <p>Ở bước này mình để hai đường dẫn bên dưới các bạn tự thực hiện
                                                        nhe.</p>
                                                    <ul>
                                                        <li>Link GitHub: <a
                                                                href="/external-url?continue=https%3A%2F%2Fgithub.com%2F"
                                                                target="_blank" rel="noreferrer">https://github.com/</a>
                                                        </li>
                                                        <li>Link download Git: <a
                                                                href="/external-url?continue=https%3A%2F%2Fgit-scm.com%2Fdownloads"
                                                                target="_blank"
                                                                rel="noreferrer">https://git-scm.com/downloads</a></li>
                                                    </ul>
                                                    <p><strong>Bước 2: Tạo một repository mới trên Github</strong></p>
                                                    <p>Sau khi các bạn đã thực hiện bước 1 xong, các bạn đăng nhập vào
                                                        GitHub và tạo một repository mới để đưa code lên GitHub. Các bạn
                                                        thực hiện giống như ảnh bên dưới:</p>
                                                    <p><img alt="1.PNG"
                                                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/677/61542756d65a3.png">
                                                    </p>
                                                    <p>Sau đó các bạn nhập thông tin bên dưới:</p>
                                                    <p><img alt="2.PNG"
                                                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/677/615427ed20077.png">
                                                    </p>
                                                    <p>Sau khi các bạn chọn Create repository thì sẽ được như hình bên
                                                        dưới đây:</p>
                                                    <p><img alt="3.PNG"
                                                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/677/615428595492f.png">
                                                    </p>
                                                    <p><strong>Bước 3: Đưa code lên GitHub</strong></p>
                                                    <p>Đầu tiên các bạn mở VSCode lên vào thư mục mà bạn muốn đưa code
                                                        lên GitHub. Các bạn vào Terminal chọn New Terminal:</p>
                                                    <p><img alt="4.png"
                                                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/677/61542997e6db2.png">
                                                    </p>
                                                    <p>Tiếp theo bạn gõ <strong>git init</strong> để khởi tạo 1 git
                                                        repository 1 project mới hoặc đã có (nếu bước này các bạn bị lỗi
                                                        thì các bạn chưa download Git về hoặc cài đặt chưa thành công)
                                                    </p>
                                                    <p><img alt="6.PNG"
                                                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/677/61542be51cdd4.png">
                                                    </p>
                                                    <p>Sau đó ta gõ <strong>git status</strong> để check những file chưa
                                                        được đưa lên hoặc đã thay đổi trong thư mục</p>
                                                    <p><img alt="7.PNG"
                                                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/677/61542c8f1ace7.png">
                                                    </p>
                                                    <p>Tiếp theo ta add những file cần đưa lên github ta dùng
                                                        <strong>git add</strong> (ở đây mình không đưa file .vscode/ lên
                                                        github)
                                                    </p>
                                                    <p><img alt="8.PNG"
                                                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/677/61542d5348b34.png">
                                                    </p>
                                                    <p>Để kiểm tra mình đã add thành công hay chưa các bạn gõ git status
                                                        lại để check (ở đây mình không check nha)</p>
                                                    <p>Tiếp theo các bạn gõ lệnh <strong>git commit -m "Add new project
                                                            food"</strong> . Lệnh này dùng để note lại các thay đổi để
                                                        dễ dàng theo dõi nhe.</p>
                                                    <p><img alt="9.PNG"
                                                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/677/61542f464b3b0.png">
                                                    </p>
                                                    <p>Kế tiếp các bạn gõ lệnh <strong>git branch -M main</strong></p>
                                                    <p><img alt="10.PNG"
                                                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/677/6154302aa11e7.png">
                                                    </p>
                                                    <p>Sau đó các bạn gõ lệnh <strong>git remote add origin <a
                                                                href="/external-url?continue=https%3A%2F%2Fgithub.com%2Fminhkhacoder%2Ffood.git"
                                                                target="_blank"
                                                                rel="noreferrer">https://github.com/minhkhacoder/food.git</a></strong>
                                                        (lưu ý đừng link là trên trang Github lúc đầu các bạn tạo
                                                        repository không phải đừng link trong bài viết này)</p>
                                                    <p><img alt="11.PNG"
                                                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/677/6154310cc2b95.png">
                                                    </p>
                                                    <p><img alt="3.PNG"
                                                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/677/61543142c5b40.png">
                                                    </p>
                                                    <p>Cuối cùng các bạn gõ lệnh <strong>git push -u origin
                                                            main</strong> để đưa code lên Github</p>
                                                    <p><img alt="12.PNG"
                                                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/677/615431a5351c5.png">
                                                    </p>
                                                    <p>Các bạn reload lại trang Github để kiểm tra code đã được đưa lên
                                                        chưa</p>
                                                    <p><img alt="13.PNG"
                                                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/677/615431f844876.png">
                                                    </p>
                                                    <p>Còn phần cuối là làm sao để xem được trang web của các bạn đây.
                                                        Ok hướng dẫn luôn.</p>
                                                    <p><strong>Bước 4: Tạo GitHub Pages</strong></p>
                                                    <p>Đầu tiên các bạn vào phần Setting như hình</p>
                                                    <p><img alt="14.PNG"
                                                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/677/615432e97a173.png">
                                                    </p>
                                                    <p>Sau đó lướt xuống tới phần GitHub Pages chọn <strong>Check it out
                                                            here!</strong></p>
                                                    <p><img alt="15.PNG"
                                                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/677/6154335bc6533.png">
                                                    </p>
                                                    <p>Chỗ phần Source các bạn làm theo như hình</p>
                                                    <p><img alt="16.PNG"
                                                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/677/6154341115521.png">
                                                    </p>
                                                    <p>Phía dưới có phần <strong>Theme Chooser</strong> chọn
                                                        <strong>Choose a theme</strong>. Tiếp theo các bạn chọn
                                                        <strong>Select theme</strong> như hình:
                                                    </p>
                                                    <p><img alt="17.PNG"
                                                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/677/615434d30ff78.png">
                                                    </p>
                                                    <p>Ok, vậy là các bạn đã tạo thành công một GitHub Pages để có đường
                                                        link trang web các bạn xem hình bên dưới nhé</p>
                                                    <p><img alt="18.PNG"
                                                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/677/61543552f2deb.png">
                                                    </p>
                                                    <p>Ok, như vậy là bài viết mình chia sẻ đến các bạn chỉ có nhiêu đấy
                                                        thôi. Mặc dù hơi dài một chút nhưng mình đã hướng dẫn chi tiết
                                                        từng bước cho các bạn rồi. Hy vọng các bạn thích bài viết này.
                                                        Nhớ cho mình một comment để ủng hộ mình nha.</p>
                                                </div><a class="RelatedPosts_relatedReadMore__3Ktpy"
                                                    href="/blog/cach-dua-code-len-github-va-tao-github-pages.html">Xem
                                                    tiếp <span>·</span> 4 phút đọc</a>
                                            </div>
                                            <div class="RelatedPosts_relatedItem__Apw+s">
                                                <div class="RelatedPosts_published__bMfDb">Đăng bởi <a
                                                        href="/@son-son-16"><strong
                                                            class="RelatedPosts_fullName__EGXHU">Sơn
                                                            Sơn</strong></a><span
                                                        class="RelatedPosts_dot__h9Wnf">·</span><span
                                                        class="RelatedPosts_createdAt__EC4N9">2 năm trước</span></div><a
                                                    href="/blog/ky-su-ngay-thu-25-hoc-o-f8-1.html">
                                                    <h3 class="RelatedPosts_relatedTitle__UTZ3e">Ký sự ngày thứ 25 học ở
                                                        F8&nbsp;</h3>
                                                </a>
                                                <div class="RelatedPosts_relatedDesc__2y3Bq"></div><a
                                                    href="/blog/ky-su-ngay-thu-25-hoc-o-f8-1.html"><img
                                                        class="RelatedPosts_photo__Lafnu"
                                                        src="https://files.fullstack.edu.vn/f8-prod/blog_posts/51/6139c6453456e.png"
                                                        alt="Ký sự ngày thứ 25 học ở F8&nbsp;"></a>
                                                <div class="MarkdownParser_wrapper__JYN63 RelatedPosts_content__vlhzA"
                                                    style="--font-size:1.8rem; --line-height:2;">
                                                    <p>Hí ae, tôi cũng tên Sơn nhưng mà là newbie còn ông Sơn kia thì
                                                        trùm rồi :))). Tôi cũng vừa mới đến với lập trình,tôi là sv năm
                                                        1. Sau khi nghe truyền thuyết thằng anh sinh năm 96 học cơ khí
                                                        bách khoa, tôi đã lao đầu ngay vào học code vì nghe bảo ngành
                                                        được xã hội trọng dụng, nhắc đến là gái chảy nước( một phần là
                                                        sợ bị tụt hậu-nghe đồn là ngành IT đào thải nhanh lắm). Khoảng
                                                        thời gian trước đó việc tìm hiểu học về web tôi còn khá lơ mơ vì
                                                        trên mạng người ta chỉ loạn cả lên ( không có lộ trình rõ ràng).
                                                        Đó là khi F8 của anh Sơn xuất hiện, với lộ trình rõ ràng, bài
                                                        học được chia ra rạch ròi, course-mate khá là tậm tâm giúp đỡ.
                                                        Tôi đã có câu hỏi ngớ ngấn nhu bao anh em khác, đó là web này
                                                        trả phí hả anh Sơn. Tôi cũng khác bất ngờ về việc một người bỏ
                                                        khác nhiều công sức, làm việc nghiệm túc nhưng lại không thu
                                                        phí. F8 cho ta một con đường rõ ràng, không lan man, có thế tiết
                                                        kiệm được vài tháng đến cả năm. Tôi hy vọng ae học và phát triển
                                                        cộng đồng này nhiệt tình đề không phí công ông anh Sơn Đặng nhé.
                                                        Nếu ai hỏi tôi nên học khóa front-end nào cho begginer tôi chắc
                                                        chắn sẽ recommend F8. Tus này mục đích chủ yếu test thử tính
                                                        năng Blog :).</p>
                                                </div><a class="RelatedPosts_relatedReadMore__3Ktpy"
                                                    href="/blog/ky-su-ngay-thu-25-hoc-o-f8-1.html">Xem tiếp
                                                    <span>·</span> 1 phút đọc</a>
                                            </div>
                                            <div class="RelatedPosts_relatedItem__Apw+s">
                                                <div class="RelatedPosts_published__bMfDb">Đăng bởi <a
                                                        href="/@duong-vuong"><strong
                                                            class="RelatedPosts_fullName__EGXHU">Vương
                                                            Dương</strong></a><span
                                                        class="RelatedPosts_dot__h9Wnf">·</span><span
                                                        class="RelatedPosts_createdAt__EC4N9">2 năm trước</span></div><a
                                                    href="/blog/cac-nguon-tai-nguyen-huu-ich-cho-1-front-end-developer.html">
                                                    <h3 class="RelatedPosts_relatedTitle__UTZ3e">Các nguồn tài nguyên
                                                        hữu ích cho 1 front-end developer</h3>
                                                </a>
                                                <div class="RelatedPosts_relatedDesc__2y3Bq"></div><a
                                                    href="/blog/cac-nguon-tai-nguyen-huu-ich-cho-1-front-end-developer.html"><img
                                                        class="RelatedPosts_photo__Lafnu"
                                                        src="https://files.fullstack.edu.vn/f8-prod/blog_posts/107/613a1f3685814.png"
                                                        alt="Các nguồn tài nguyên hữu ích cho 1 front-end developer"></a>
                                                <div class="MarkdownParser_wrapper__JYN63 RelatedPosts_content__vlhzA"
                                                    style="--font-size:1.8rem; --line-height:2;">
                                                    <p><img alt="39-frontend.jpg"
                                                            src="https://files.fullstack.edu.vn/f8-prod/blog_posts/107/613a1e8d8fc47.jpg">
                                                    </p>
                                                    <h3>1. Trình soạn thảo code</h3>
                                                    <p><a href="/external-url?continue=https%3A%2F%2Fcode.visualstudio.com%2F"
                                                            target="_blank" rel="noreferrer"><img
                                                                alt="https://codingheroes.io/resources/img/logos/vscode.png"
                                                                src="https://codingheroes.io/resources/img/logos/vscode.png"></a>
                                                    </p>
                                                    <blockquote>
                                                        <p>Visual studio code: là 1 trình soạn thảo code được nhiều
                                                            người sử dụng nhất hiện nay với khả năng code được nhiều
                                                            ngôn ngữ và rất nhiều extension hổ trợ cho việc code</p>
                                                    </blockquote>
                                                    <h3>2. Nguồn học HTML, CSS, JS,...</h3>
                                                    <p><a href="/external-url?continue=https%3A%2F%2Fwww.w3schools.com%2F"
                                                            target="_blank" rel="noreferrer">W3School</a></p>
                                                    <blockquote>
                                                        <p>W3School: là 1 trang web học code miễn phí đang tin cậy với
                                                            nhiều bài giảng chất lượng có đầy đủ cả lý thuyết lận thực
                                                            hành với nhiều bài code mẫu ngay sau những kiến thức lý
                                                            thuyết cực kỳ trực quan.</p>
                                                    </blockquote>
                                                    <p><a href="https://developer.mozilla.org/en-US/" target="_blank"
                                                            rel="noreferrer">MDN Web Docs</a></p>
                                                    <blockquote>
                                                        <p>MDN Docs: như một kho thư viện định nghĩa các thuộc tính,
                                                            chức năng và cách sử dụng của các thẻ, hàm, câu lệnh... của
                                                            các ngôn ngữ như HTML, CSS, Javascript,... vô cùng đầy đủ và
                                                            chính xác</p>
                                                    </blockquote>
                                                    <h4>Và 1 số trang web khác như:</h4>
                                                    <ul>
                                                        <li><a href="/external-url?continue=https%3A%2F%2Fcss-tricks.com%2F"
                                                                target="_blank" rel="noreferrer">CSS-Trick</a></li>
                                                        <li><a href="/external-url?continue=https%3A%2F%2Fstackoverflow.com%2F"
                                                                target="_blank" rel="noreferrer">Stack Overflow</a></li>
                                                        <li><a href="https://fullstack.edu.vn/" target="_blank"
                                                                rel="noreferrer">F8</a></li>
                                                        <li>...</li>
                                                    </ul>
                                                    <h3>3. Nguồn chứa các font chữ thường hay được sử dụng:</h3>
                                                    <ul>
                                                        <li><a href="/external-url?continue=https%3A%2F%2Ffonts.google.com%2F"
                                                                target="_blank" rel="noreferrer">Google Font</a></li>
                                                        <li><a href="/external-url?continue=https%3A%2F%2Fwww.fontsquirrel.com%2F"
                                                                target="_blank" rel="noreferrer">Fontsquirrel</a></li>
                                                        <li><a href="/external-url?continue=https%3A%2F%2Fwww.myfonts.com%2F"
                                                                target="_blank" rel="noreferrer">Myfont</a></li>
                                                    </ul>
                                                    <h3>4. Nguồn chứa các màu sắc thường hay được sử dụng:</h3>
                                                    <ul>
                                                        <li><a href="/external-url?continue=https%3A%2F%2Ftailwindcss.com%2Fdocs%2Fcustomizing-colors"
                                                                target="_blank" rel="noreferrer">Tailwind Colors</a>
                                                        </li>
                                                        <li><a href="/external-url?continue=https%3A%2F%2Fcoolors.co%2Fcontrast-checker%2F112a46-acc8e5"
                                                                target="_blank" rel="noreferrer">Coolors Contrast
                                                                Checker</a></li>
                                                        <li><a href="/external-url?continue=https%3A%2F%2Fflatuicolors.com%2F"
                                                                target="_blank" rel="noreferrer">Flat UI Colors</a></li>
                                                        <li><a href="/external-url?continue=https%3A%2F%2Fwww.colorhunt.co%2F"
                                                                target="_blank" rel="noreferrer">Colorhunt Palettes</a>
                                                        </li>
                                                    </ul>
                                                    <h3>5. Nguồn chứa các kho ảnh trực tuyến thường hay được sử dụng:
                                                    </h3>
                                                    <ul>
                                                        <li><a href="/external-url?continue=https%3A%2F%2Funsplash.com%2F"
                                                                target="_blank" rel="noreferrer">Unsplash</a></li>
                                                        <li><a href="/external-url?continue=https%3A%2F%2Fwww.pexels.com%2Fvi-vn%2F"
                                                                target="_blank" rel="noreferrer">Pexels</a></li>
                                                        <li><a href="/external-url?continue=https%3A%2F%2Fundraw.co%2Fillustrations"
                                                                target="_blank" rel="noreferrer">unDraw</a></li>
                                                        <li><a href="/external-url?continue=https%3A%2F%2Fpixabay.com%2F"
                                                                target="_blank" rel="noreferrer">Pixaby</a></li>
                                                    </ul>
                                                    <h3>6. Nguồn chứa các Icon thường hay được sử dụng:</h3>
                                                    <ul>
                                                        <li><a href="/external-url?continue=http%3A%2F%2Ffontawesome.io%2F"
                                                                target="_blank" rel="noreferrer">Font Awesome</a></li>
                                                        <li><a href="/external-url?continue=https%3A%2F%2Fionic.io%2Fionicons"
                                                                target="_blank" rel="noreferrer">Ionicons</a></li>
                                                        <li><a href="/external-url?continue=https%3A%2F%2Ficons8.com%2F"
                                                                target="_blank" rel="noreferrer">Icons8</a></li>
                                                        <li><a href="/external-url?continue=https%3A%2F%2Fheroicons.com%2F"
                                                                target="_blank" rel="noreferrer">Hero Icons</a></li>
                                                    </ul>
                                                    <h3>7. Nguồn chứa các mẫu design đẹp thường hay được sử dụng:</h3>
                                                    <ul>
                                                        <li><a href="/external-url?continue=https%3A%2F%2Fdribbble.com%2F"
                                                                target="_blank" rel="noreferrer">Dribbble</a></li>
                                                        <li><a href="/external-url?continue=https%3A%2F%2Fland-book.com%2F"
                                                                target="_blank" rel="noreferrer">Land Book</a></li>
                                                        <li><a href="/external-url?continue=https%3A%2F%2Fonepagelove.com%2Finspiration"
                                                                target="_blank" rel="noreferrer">One Page Love</a></li>
                                                        <li><a href="/external-url?continue=https%3A%2F%2Fscreenlane.com%2F"
                                                                target="_blank" rel="noreferrer">Screelane</a></li>
                                                    </ul>
                                                </div><a class="RelatedPosts_relatedReadMore__3Ktpy"
                                                    href="/blog/cac-nguon-tai-nguyen-huu-ich-cho-1-front-end-developer.html">Xem
                                                    tiếp <span>·</span> 2 phút đọc</a>
                                            </div>
                                        </div>
                                        <div class="TopicsList_wrapper__lizCe">
                                            <h3>Các chủ đề được đề xuất</h3>
                                            <ul class="TopicsList_topics__EU6iM">
                                                <li><a href="/blog/topic/front-end-mobile-apps">Front-end / Mobile
                                                        apps</a></li>
                                                <li><a href="/blog/topic/back-end-devops">Back-end / Devops</a></li>
                                                <li><a href="/blog/topic/ui-ux-design">UI / UX / Design</a></li>
                                                <li><a href="/blog/topic/others">Others</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </section>
                            </section>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>