.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
}
.carousel-item{
    transition: transform .9s ease-in-out,-webkit-transform .9s ease-in-out;
}