<head>
  <meta charset="utf-8">
  <title>Trang cá nhân</title>
  <link href="profile.component.css" rel="stylesheet">
</head>

<body style="overflow-y: overlay; overflow-x: unset;">
  <div id="root">
    <div class="NavBar_wrapper__4m3K5" id="header">
      <div class="NavBar_logo__Rgo-5">
        <div *ngIf="User.idrole == 0">
          <a routerLink="/homepage-user" routerLinkActive="active"><img
              src="https://my-web-study-onl-project.s3.ap-southeast-1.amazonaws.com/Logo/Logo_F4.png" alt="F8"></a>
        </div>
        <div *ngIf="User.idrole == 1">
          <a routerLink="/home-page-st" routerLinkActive="active"><img
              src="https://my-web-study-onl-project.s3.ap-southeast-1.amazonaws.com/Logo/Logo_F4.png" alt="F8"></a>
        </div>
        <div *ngIf="User.idrole == 2">
          <a routerLink="/homepage-gv" routerLinkActive="active"><img
              src="https://my-web-study-onl-project.s3.ap-southeast-1.amazonaws.com/Logo/Logo_F4.png" alt="F8"></a>
        </div>
        <h4 class="NavBar_logoHeading__bs7MP">Học Lập Trình Để Đi Làm</h4>
      </div>
      <!-- </div> -->
      <div class="Navbar-Trangchu-Search-margin d-flex-center">
        <div>
          <div class="Search_wrapper__Bwvae d-flex-center" aria-expanded="false">
            <div class="Search_searchIcon__-23JY">
            </div>
            <input class="Search_input__GnMba" spellcheck="false" placeholder="Tìm kiếm khóa học, bài viết, video, ..."
              value="">
          </div>
        </div>
      </div>
      <div class="NavBar_actions__nSNzo">
        <div id="navbar-actions-portal">
        </div>

        <div>
          <div (click)="openNavNotification()" class="NavBar_actionBtn__tzSZd" id="notification-button"><svg
              aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bell"
              class="svg-inline--fa fa-bell NavBar_action-icon__l9MxX" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512">
              <path fill="currentColor"
                d="M256 32V51.2C329 66.03 384 130.6 384 208V226.8C384 273.9 401.3 319.2 432.5 354.4L439.9 362.7C448.3 372.2 450.4 385.6 445.2 397.1C440 408.6 428.6 416 416 416H32C19.4 416 7.971 408.6 2.809 397.1C-2.353 385.6-.2883 372.2 8.084 362.7L15.5 354.4C46.74 319.2 64 273.9 64 226.8V208C64 130.6 118.1 66.03 192 51.2V32C192 14.33 206.3 0 224 0C241.7 0 256 14.33 256 32H256zM224 512C207 512 190.7 505.3 178.7 493.3C166.7 481.3 160 464.1 160 448H288C288 464.1 281.3 481.3 269.3 493.3C257.3 505.3 240.1 512 224 512z">
              </path>
            </svg></div>
          <!-- aria-expanded="false" -->
          <div *ngIf="isDropDownOpenNotification"
            style="z-index: 9999; position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(-68.8px, 60.8px);">
            <ul class="Tippy-module_wrapper__1s5m5 Notification_container__ulN0K">
              <header>
                <h6>Thông báo</h6>
              </header>
              <div class="Notification_content__0k-Tt hide-on-click">
                <p class="Notification_noResult__TJd2-">Chưa có thông báo nào</p>
              </div>
            </ul>
          </div>
        </div>
        <div class="NavBar_avatar-wrapper__j7jMj" aria-expanded="false">
          <div (click)="openNavProfile()" class="FallbackAvatar_avatar__gmj3S" style="--font-size:3.2px;"><img
              class="NavBar_avatar__OG7ib"
              src="{{User.imguser}}" alt="User"></div>
        </div>
        <div *ngIf="isDropDownOpen"
          style="z-index: 9999; position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(-27.2px, 57.6px);">
          <ul class="Tippy-module_wrapper__1s5m5 UserMenu_wrapper__kevhj hide-on-click">
            <div class="UserMenu_user__GXFLp">
              <div class="UserMenu_avatarWrapper__9ABYL">
                <div class="FallbackAvatar_avatar__gmj3S" style="--font-size:5.6px;"><img
                    src="{{User.imguser}}"
                    alt="{{User.username}}"></div>
              </div>
              <div class="UserMenu_info__UqeZT"><span class="UserMenu_name__L18s-">{{ User.username }}</span>
                <div class="UserMenu_username__7qkRU">{{ User.email }}</div>
              </div>
            </div>
            <hr>
            <ul class="UserMenu_list__FI9-C">
              <li><a class="UserMenu_item__NXwf1" routerLink="/profile" routerLinkActive="active">Trang cá nhân</a></li>
            </ul>
            <hr>
            <ul class="UserMenu_list__FI9-C">
              <li><a class="UserMenu_item__NXwf1" routerLink="/write-blog" routerLinkActive="active">Viết blog</a></li>
              <li><a class="UserMenu_item__NXwf1" routerLink="/posts-drafts" routerLinkActive="active">Bài viết của
                  tôi</a></li>
            </ul>
            <hr>
            <ul class="UserMenu_list__FI9-C">
              <li><a class="UserMenu_item__NXwf1" routerLink="/posts-public" routerLinkActive="active">Bài viết đã
                  lưu</a></li>
            </ul>
            <hr>
            <ul class="UserMenu_list__FI9-C">
              <li><a class="UserMenu_item__NXwf1" href="/setting-account">Cài đặt</a></li>
              <li><a class="UserMenu_item__NXwf1" routerLink="/login-form" routerLinkActive="active">Đăng xuất</a></li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
    <div class="App_withSidebar__8lwIi">
      <div class="App_sidebarWrap__3LwsB">
        <div class="Sidebar_wrapper__kUJFm" id="sidebar">
          <div>
            <div class="CreateButton_wrapper__Bb6o6" aria-expanded="false">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus"
                class="svg-inline--fa fa-plus CreateButton_icon__ipBrz" role="img" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512">
                <path fill="currentColor"
                  d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z">
                </path>
              </svg>
            </div>
          </div>
          <ul class="Sidebar_list__HnCzM">
            <div *ngIf="User.idrole == 0">
              <li><a aria-current="page" class="Sidebar_itemBtn__Q78b7 " routerLink="/homepage-user"
                  routerLinkActive="active"><i class="fa-solid fa-house"></i><span>Home</span></a>
              </li>
            </div>
            <div *ngIf="User.idrole == 1">
              <li><a aria-current="page" class="Sidebar_itemBtn__Q78b7 " routerLink="/home-page-st"
                  routerLinkActive="active"><i class="fa-solid fa-house"></i><span>Home</span></a>
              </li>
            </div>
            <div *ngIf="User.idrole == 2">
              <li><a aria-current="page" class="Sidebar_itemBtn__Q78b7 " routerLink="/homepage-gv"
                  routerLinkActive="active"><i class="fa-solid fa-house"></i><span>Home</span></a>
              </li>
            </div>

            <li><a class="Sidebar_itemBtn__Q78b7" routerLink="/study-route" routerLinkActive="active"><i
                  class="fa-solid fa-road"></i><span>Lộ trình</span></a>
            </li>
            <li><a class="Sidebar_itemBtn__Q78b7" routerLink="/study" routerLinkActive="active"><i
                  class="fa-solid fa-lightbulb"></i><span>Học</span></a>
            </li>
            <li><a class="Sidebar_itemBtn__Q78b7 Sidebar_active__uvck8" routerLink="/blog" routerLinkActive="active"><i
                  class="fa-solid fa-book"></i><span>Blog</span></a></li>
          </ul>
        </div>
      </div>
      <div class="App_withSidebarContent__o4VlQ App_hidden__PlKoC">
        <section class="index-module_grid__1q71E index-module_wide__3c1pI" style="max-width: 1100px;">
          <div class="Profile_banner__tdS71" src=""
            style="background-image: url(https://my-web-study-onl-project.s3.ap-southeast-1.amazonaws.com/Media/cover-profile.3fb9fed576da4b28386a.png); position: relative;">
            <div class="Profile_user__iDkf1">
              <div class="Profile_user-avatar__y8fSV">
                <div class="FallbackAvatar_avatar__gmj3S" style="--font-size:17.2px;">
                  <img class="avatar" src="{{ User.imguser }}" alt="avatar">
                </div>
              </div>
              <div class="Profile_user-name__xIJlY">
                <span>{{ User.username }}</span>
              </div>
            </div>
            <div class="FallbackBackground_btn-change-cover__NNmPv">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="camera"
                class="svg-inline--fa fa-camera FallbackBackground_icon-fix__xV4i5 FallbackBackground_icon__EaUPW"
                role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor"
                  d="M194.6 32H317.4C338.1 32 356.4 45.22 362.9 64.82L373.3 96H448C483.3 96 512 124.7 512 160V416C512 451.3 483.3 480 448 480H64C28.65 480 0 451.3 0 416V160C0 124.7 28.65 96 64 96H138.7L149.1 64.82C155.6 45.22 173.9 32 194.6 32H194.6zM256 384C309 384 352 341 352 288C352 234.1 309 192 256 192C202.1 192 160 234.1 160 288C160 341 202.1 384 256 384z">
                </path>
              </svg>
              Chỉnh sửa ảnh bìa
            </div>
          </div>
          <div class="Profile_container__BVoU6">
            <section class="index-module_row__-AHgh">
              <section
                class="index-module_col__2EQm9 index-module_c-12__u7UXF index-module_m-12__2CxUL index-module_l-5__2UHWy">
                <div class="content-left">
                  <div class="Box_wrapper__uAKHJ">
                    <h4 class="Box_title__kFB9-">Giới thiệu</h4>
                    <div>
                      <div class="Profile_participation__SqLYV">
                        <div class="Profile_participation-icon__ZkxuE">
                          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-group"
                            class="svg-inline--fa fa-user-group " role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 640 512">
                            <path fill="currentColor"
                              d="M224 256c70.7 0 128-57.31 128-128S294.7 0 224 0C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3c-95.73 0-173.3 77.6-173.3 173.3C0 496.5 15.52 512 34.66 512H413.3C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304zM479.1 320h-73.85C451.2 357.7 480 414.1 480 477.3C480 490.1 476.2 501.9 470 512h138C625.7 512 640 497.6 640 479.1C640 391.6 568.4 320 479.1 320zM432 256C493.9 256 544 205.9 544 144S493.9 32 432 32c-25.11 0-48.04 8.555-66.72 22.51C376.8 76.63 384 101.4 384 128c0 35.52-11.93 68.14-31.59 94.71C372.7 243.2 400.8 256 432 256z">
                            </path>
                          </svg>
                        </div>
                        <span>Thành viên của
                          <span class="Profile_highlight__356rX">F4 - Học lập trình để đi
                            làm</span>
                          từ 2 năm trước</span>
                      </div>
                    </div>
                  </div>
                  <div class="Box_wrapper__uAKHJ">
                    <h4 class="Box_title__kFB9-">Hoạt động gần đây</h4>
                    <div>
                      <div class="Profile_no-result__O7P-W">Chưa có hoạt động gần đây</div>
                    </div>
                  </div>
                </div>
              </section>
              <section
                class="index-module_col__2EQm9 index-module_c-12__u7UXF index-module_m-12__2CxUL index-module_l-7__kRbS-">
               
              </section>
            </section>
          </div>
        </section>

      </div>
    </div>

    <div class="Toastify"></div>
  </div>
</body>